pkgbase = zfs-utils-initcpio
	pkgdesc = (Better) ZFS integration for systemd-based initcpio (sd-zfs hook)
	pkgver = r1
	pkgrel = 1
	url = https://openzfs.org/
	arch = any
	license = MIT
	makedepends = git
	depends = systemd
	depends = mkinitcpio
	depends = zfs-utils
	conflicts = mkinitcpio-sd-zfs
	source = zfs-functions
	source = zfs-parse-cmdline
	source = zfs-parse-zfsget
	source = zfs-prepare-rootfs
	source = zfs-prepare-multiboot
	source = zfs-root-generator
	source = sd-zfs.initcpio.install
	source = sd-zfs-shutdown.initcpio.install
	source = zfs.shutdown
	source = zfs.mkinitcpio-generate-shutdown-ramfs.conf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zfs-utils-initcpio
